@media screen and (max-width:1700px) {
    .aside-left__item{
        font-size: 15px;
        gap: 3%;
        padding: 6px 10px 6px 6px;
    }
}

@media screen and (max-width:1500px) {
    .aside-left__item{
        font-size: 14px;
        gap: 2%;
        padding: 6px 10px 6px 4px;
    }
}

@media screen and (max-width:1400px) {
    .aside-left__item{
        font-size: 13px;
        padding: 6px 10px 6px 2px;
    }
}

@media screen and (max-width:1300px) {
    .aside-left__item{
        font-size: 12px;
    }
}

@media screen and (max-width:1200px) {
    .aside-left__item{
        font-size: 10px;
    }
}