@media screen and (max-width:950px) {
    .apranq_flexbox {
        display: none;
    }
    .cart_block{
        display: flex;
    }
    .apranqner_cont{
        gap: 43px;
    }
    .main_div{
        padding:20px 15px;
        padding-left: 20px;
    }
}